<section class="pt-150 pb-150 col-md-12 ">
    <div class="container">
        <div class="container col-md-5">
            <div>
                <div>
                    <div class="row">
                        <div class="row">
                            <div
                                class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1 d-flex justify-content-center">
                                        <h3 class="mb-30">Login</h3>
                                    </div>
                                    <form action="/login" method="post" id="login" onsubmit="return validateSubmit()">
                                        <div class="form-group">
                                            <input type="text" name="Phone" id="MobileNumber"
                                                onkeyup="return validateMobileNumber()" placeholder="MobileNumber">
                                            <span class="text-danger" id="NumberErr"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="loginpassword" id="Password"
                                                onkeyup="return validatePassword()" placeholder="Password">
                                            <span class="text-danger" id="PasswordErr"></span>
                                            <%if(locals.err){%>
                                                <span class="text-danger">
                                                    <%= locals.err %>
                                                </span>
                                                <%}%>
                                        </div>
                                        <div class="login_footer form-group">
                                            <div class="chek-form">
                                                <span><a href="/forgotpass">Forgot password</a></span>
                                            </div>
                                            <div>
                                                <a href="/signup">Create new Account</a>
                                            </div>

                                            <a href="/otplogin">OTP Login</a>
                                        </div>

                                        <div class="   d-flex justify-content-center ">
                                            <button type="submit"
                                                class="btn-md btn-fill-out  hover-up  align-items-center"
                                                name="login">Log in</button>
                                        </div>
                                        <span class="text-danger" id="loginErr"></span>
                                        <div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <h5 class="mb-5">Now Loading</h5>
                <div class="loader">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Vendor JS-->


<script>
    function validateMobileNumber() {
        const Num = document.getElementById('MobileNumber').value;
        const regNum = /^(\+?\d{1,3}[- ]?)?\d{10}$/
        if (!regNum.test(Num)) {
            document.getElementById('NumberErr').innerHTML = 'Invalid Number Please Valid Number';
            return false;
        } else {
            document.getElementById('NumberErr').innerHTML = '';
            return true;
        }
    }
    function validatePassword() {
        const Password = document.getElementById('Password').value;
        const regPass = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$/;;
        if (!regPass.test(Password)) {
            document.getElementById('PasswordErr').innerHTML = 'Invalid Password Please Ender Valid password';
            return false;
        } else {
            document.getElementById('PasswordErr').innerHTML = "";
            return true;
        }
    }
    function validateSubmit() {
        if (!validateMobileNumber() || !validatePassword()) {
            document.getElementById('loginErr').innerHTML = 'Error Submiting Fill All Fields'
            return false
        } else {
            document.getElementById('login').submit()
            return true
        }
    }
</script>